@font-face {
    font-family: "Corbel";
    src: url("../fonts/corbel.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Akrobat-Black";
    src: url("../fonts/Akrobat-Black.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Akrobat-ExtraBold";
    src: url("../fonts/Akrobat-ExtraBold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    margin: 0 auto;
    text-align: center;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    font-size: 11pt;
    font-family: "Corbel";
    color: #27386d;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    text-align: center;
    line-height: 1.5;
    background: whitesmoke;
}

a {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1 {
    margin: 0;
    padding: 25px 25px 0 25px;
    font-size: 15pt;
    font-family: "Akrobat-Black";
    color: white;
}

h2 {
    font-size: 15pt;
    padding: 5px 65px 5px 65px;
    margin: 0;
    color: #f58376;
    font-family: "Corbel";
}

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 0 max-content 0;
    grid-template-rows: min-content max-content min-content;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.block {
    width: 100vw;
    min-height: 250px;
    max-height: 100%;
    justify-content: center;
    grid-column: 2;
}

.content>p {
    padding: 25px 50px 25px 50px;
}

div.title {
    background-image: url(../img/title.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    background-color: #f29896;
}

.one {
    background-image: url(../img/1.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 398px;
}

.two {
    background-image: url(../img/2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #dab02a;
}

.three {
    background-image: url(../img/3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #93b0b6;
}

.four {
    background-image: url(../img/4.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f29896;
}

.five {
    background-image: url(../img/5.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #dab02a;
}

.plat {
    background-color: #27386d;
    padding: 20px 0 20px 0;
    min-height: auto;
    height: auto;
}

.plat>p {
    color: white;
    font-size: 13pt;
    font-weight: bold;
}

.blue-plat {
    color: white;
    margin: 20px 30px 10px 30px;
    padding: 20px;
    font-size: 12pt;
    background-color: #27386d;
    border-radius: 15px;
}

div.tip {
    background-color: #27386d;
    background-image: url(../img/tip.png);
    background-position: left;
    background-position-x: 7vw;
    background-repeat: no-repeat;
    background-size: 15%;
    text-align: left;
    min-height: auto;
}

div.tip>p,
div.tip>h2 {
    font-family: "Corbel";
    color: white;
    padding-left: 30vw;
    padding-right: 10vw;
    padding-bottom: 28px;
}

div.tip>h2 {
    font-family: "Akrobat-Black";
    padding-top: 28px;
    padding-right: 10vw;
    padding-bottom: 10px;
}

div.final {
    background-color: #f29896;
}

.final>h1.sub {
    padding-bottom: 25px;
}

.link {
    padding: 25px 0 25px 0;
    min-height: 50px;
}

.link>a {
    padding: 10px 0 10px 0;
    color: #e51a4b;
    font-family: "Akrobat-Black";
    font-size: 15pt;
    text-decoration: none;
}